.room_entry {
  width: 40%;
  max-width: 360px;
  margin: 0 auto;
}

button {
  margin-left: 5px;
  margin-right: 5px;
}

#create_row button {
  width: 100%;
}

.d2 {
  margin-bottom: 1rem;
}

.d2::after {
  content: "or";
}

#join_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#join_row > button {
  flex-grow: 4;
  width: 200%;
}

#join_row > input {
  flex-grow: 1;
}