[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
more-itertools = "*"
starlette = "*"
uvicorn = "*"
websockets = "*"

[requires]
python_version = "3.9"
