[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
more-itertools = "*"
starlette = "*"
uvicorn = "*"
orjson = "*"
websockets = "*"
marshmallow = "*"
marshmallow-dataclass = {extras = ["enum"], version = "*"}

[requires]
python_version = "3.9"
